h1 {
font-size: 3rem;
margin-top: 120px;
margin-right: 10px;
margin-left: 10%;
color: #f8f6f6;
}

body {
  background-color: #07446f;
}

.form {
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10%;
  margin-bottom: 15%;
  font-weight: bold;
}

.lable {
  font-size: 2rem;
  font-family: serif;
  font-weight: bold;
  color: #faf9f9;
}

input {
font: 0.75rem;
margin-bottom: 3px;
margin-top: 15px;
color: black;
width: 200px;
height: 30px;

}

button {
  border-radius: 20px;
  background-color: #9e9ef1;
  border-color: #205295;
  color: rgb(52, 3, 3);
  height: 50px;
  width: 150px;
  margin-top: 15px;

}
#weatherResult {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  color: rgb(250, 248, 248);
  position: absolute;
  bottom: 125px;
  left: 400px;
}
